* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "RebellionSquad-ZpprZ";
    src: url("./js/fonts/RebellionSquad-ZpprZ.ttf");
}

h1 {
    font-family: "RebellionSquad-ZpprZ", sans-serif;
    font-size: 120px;
    font-weight: lighter;
    color: rgb(255, 219, 5);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/background.jpg);
    background-size: cover;
    height: 100dvh;
    margin: 0;
    position: relative;
    overflow: hidden;
    touch-action: none;
}


canvas {
    max-width: 100vw;
    max-height: 100vh;
    z-index: 1;
}

#gameContainer {
    position: relative;
    width: 100%;
    max-width: 720px;
    height: 100%;
    max-height: 480px;
    margin: 0 auto;
    overflow: hidden;
}

#soundPrompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
}

#startScreen {
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 20px;
    padding: 11px;


}

#klicke {
    color: rgb(252, 149, 2);
    font-family: "Kanit", sans-serif;

    font-size: 25px;
}

.pauseImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
}

.muteImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
}

#startScreen img {
    width: 100%;
}

#startScreen button {
    background-color: #ff5733;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;

}

#startScreen button:hover {
    background-color: #ff2e00;

    transform: scale(1.05);
}

#startScreen button:active {
    transform: scale(0.98);
}

#how {
    color: rgb(252, 149, 2);
    font-family: "Kanit", sans-serif;

    font-size: 25px;
}

#instructurs {
    color: rgb(252, 149, 2);
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 25px;
    background: rgba(29, 21, 21, 0.418);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.home-button,
.restart-button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    color: rgb(252, 149, 2);
    font-weight: lighter;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.home-button:hover,
.restart-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.home-button:active,
.restart-button:active {
    transform: scale(0.98);
}

.pause-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause-content {
    text-align: center;
}

.pause-text {
    color: rgb(252, 149, 2);
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

.you-win-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.you-win-screen img {
    max-width: 100%;
    max-height: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}


.game-over-screen img {
    max-width: 100%;
    max-height: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}


.resume-button {
    font-size: 24px;
    padding: 10px 20px;
    color: rgb(252, 149, 2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #dddddd;
}

.control-buttons {
    position: absolute;
    top: 15px;
    right: 15px;
    gap: 12px;
    z-index: 5;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px;
    border-radius: 25px;
}



.rotateMsg {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    text-align: center;
}

.mobile-buttons-container {
     position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 5;
    gap: 15px;

}

.left-right-buttons,
.action-buttons {
    display: flex;
    gap: 10px;

}

.mobile-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
    padding: 0;

   
}

@media(max-width:500px) {
    .mobile-btn {
        width: 55px;
        height: 55px;
    }

      .control-buttons {
        top: 10px;
        right: 10px;
        padding: 6px;
    }
    
    .pauseImg, .muteImg {
        width: 25px;
        height: 25px;
    }
}

.mobile-btn img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.mobile-btn:active {
    background-color: rgba(255, 255, 255, 0.4);
}


@media (orientation: portrait) and (max-width: 1050px) {

    .rotateMsg {
        display: flex;
    }


    .rotateMsg img {
        width: 500px;
        max-width: 90%;
        height: auto;
    }

}

@media (orientation: landscape) and (max-width: 1050px) {
    .rotateMsg {
        display: none;
    }

    #startScreen {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0%;
        gap: 5;

    }

    #instructurs {
        font-size: 20px;
        flex-wrap: wrap;

    }

    #startScreen button {
        padding: 10px;
    }


    .mobile-buttons-container {
        bottom: 5px;
        padding: 0 8px;
    }

    .mobile-btn {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 1051px) {

    .rotateMsg,
    .mobile-buttons-container {
        display: none !important;
    }

    canvas {
        display: block;
    }

    /* .control-buttons {
        display: flex;
        top: 10px;
        right: 10px;
        left: unset;
        transform: unset;
    } */

}

.infoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    animation: fadeIn 0.3s ease-out;
}

.infoContent {
    background-color: #ffffff;
    color: #333;
    padding: 40px;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    transform: translateY(0);
    animation: slideInFromTop 0.4s ease-out;

}

.infoContent h2 {
    font-size: 48px;
    color: rgb(255, 219, 5);
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.infoContent p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5;
}

.infoContent button {
    background-color: rgb(252, 149, 2);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.infoContent button:hover {
    background-color: rgb(220, 130, 0);
    transform: translateY(-2px);
}

.infoContent ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.infoContent ul li {
    font-size: 18px;
    margin: 8px 0;
}


h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: rgb(50, 49, 49);

}

.d-none {
    display: none;
}