* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "RebellionSquad-ZpprZ";
    src: url("./js/fonts/RebellionSquad-ZpprZ.ttf");
}

h1 {
    font-family: "RebellionSquad-ZpprZ", sans-serif;
    font-size: 120px;
    font-weight: lighter;
    color: rgb(255, 219, 5);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/background.jpg);
}


canvas {
    background-color: black;
}

#soundPrompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

#startScreen {
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 50px;

}

#klicke {
    color: rgb(252, 149, 2);
    font-family: "Kanit", sans-serif;

    font-size: 25px;
}

.pauseImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.muteImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#startScreen img {
    width: 100%;
}

#startScreen button {
    background-color: #ff5733;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;

}

#startScreen button:hover {
    background-color: #ff2e00;

    transform: scale(1.05);
}

#startScreen button:active {
    transform: scale(0.98);
}

#how {
    color: rgb(252, 149, 2);
    font-family: "Kanit", sans-serif;

    font-size: 25px;
}

#instructurs {
    color: rgb(252, 149, 2);
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 25px;
    background: rgba(29, 21, 21, 0.418);

    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.home-button,
.restart-button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    color: rgb(252, 149, 2);
    font-weight: lighter;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.home-button:hover,
.restart-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.home-button:active,
.restart-button:active {
    transform: scale(0.98);
}

.pause-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause-content {
    text-align: center;
}

.pause-text {
    color: rgb(252, 149, 2);
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

.you-win-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.you-win-screen img {
    max-width: 100%;
    max-height: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}


.game-over-screen img {
    max-width: 100%;
    max-height: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}


.resume-button {
    font-size: 24px;
    padding: 10px 20px;
    color: rgb(252, 149, 2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #dddddd;
}

.control-buttons {
    position: fixed;
    gap: 10px;
    z-index: 10;
    display: none;
}

.d-none {
    display: none;

}

.rotateMsg {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    text-align: center;

    @media(max-width: 1050px) {
        display: block;
    }
   
   
}

.rotateMsg img {
    width: 500px;
}

@media(max-width:1050px) {
    .mobileBtnsContainer {
        display: flex;
        position: absolute;


    }
    #navBtns img {
        width: 40px;
        height: 40px;
    }
}